#content {
	padding: 1em;
	margin-left: 4em;
	  display: flex;
flex-wrap: wrap;
}

path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}


.entry {
	padding-bottom: 1em;
	padding-right: 1em;
	display: inline-block;
}


  .demo-layout-transparent {
    /*background: url('../assets/demos/transparent.jpg') center / cover;*/
  }
  .demo-layout-transparent .mdl-layout__header,
  .demo-layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
       your background is light. */
    /*color: white;*/
  }
.demo-card-square {
	margin-top: 1em;
	margin-left: 1em;
}

.demo-card-square > .mdl-card__title {
  color: #fff;
  height: 176px;
}

.demo-card-square > .mdl-card__title.concept {
	background-color: #1f77b4
}

.demo-card-square > .mdl-card__title.prototype {
	background-color: #ff7f0e
}

.demo-card-square > .mdl-card__title.marketvalidation {
	background-color: #2ca02c
}

.demo-card-square > .mdl-card__title.product {
	background-color: #d62728
}


.mdl-card__title-text  a {
  color: #fff;
	/*text-decoration: none;*/
}

.demo-card-square > .mdl-card__menu {
  color: #fff;
}

.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
/*.demo-card-square > .mdl-card__title {
  color: #3E4EB8;*/
/*  background:
    url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
*/
/*}*/
